
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fc;
  display: block;
}

h1, h2 {
  font-weight: 600;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 250px;
  background-color:  #3E2C20;
  color: white;
  padding-top: 20px;
  
  ul {
    list-style: none;
    padding-left: 20px;
  }
  
  li {
    margin: 20px 0;
  }
  
  a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

.content {
  flex: 1;
  background-color: white;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #2c3e50;
}

p {
  color: #7f8c8d;
  font-size: 18px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F3E5D3;
  color: white;
  padding: 15px 30px;
}

.navbar-logo h2 {
  margin: 0;
  font-size: 24px;
}

.navbar-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
}

.navbar-links a:hover {
  text-decoration: underline;
}
