/* Estilos globales */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F3E5D3; /* Fondo beige suave */
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F3E5D3; /* Fondo beige suave */
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Contenedor principal */
  .registro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  /* Tarjeta de login */
  .registro-card {
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 320px;
  }
  
  /* Título */
  .registro-title {
    color: #3E2C20;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  /* Inputs */
  .registro-label {
    display: block;
    margin-bottom: 0.5rem;
    color: #3E2C20;
    font-size: 0.9rem;
  }
  
  .registro-input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #D9C2A6;
    border-radius: 4px;
    background-color: #F7EFE9;
    color: #3E2C20;
  }
  
  .login-input:focus {
    outline: none;
    border-color: #8B5E34;
  }
  
  /* Botón */
  .login-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #8B5E34;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #6A4528;
  }
  
  /* Recordarme */
  .login-remember {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .login-remember label {
    margin-left: 0.5rem;
    font-size: 0.9rem;
    color: #3E2C20;
  }
  
  /* Enlaces */
  .login-links {
    text-align: center;
    margin-top: 1rem;
  }
  
  .login-links a {
    color: #8B5E34;
    text-decoration: none;
    font-size: 0.9rem;
    margin: 0 0.5rem;
  }
  
  .login-links a:hover {
    text-decoration: underline;
  }
.logo-container {
    display: flex;
    justify-content: flex-start; 
}

.logo {
    width: 60px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 20px; 
}
